.loginPage{
  height: 100%;
  background-image: url('assets/pixel12.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  filter: opacity(95%);
}

.form{
  width: 80%;
}
button.md-button{
  margin-bottom: 30px;
}
.loginform{
  background: white;
}
