<div class='profile md-whiteframe-5dp' layout='column' layout-align='center center'>
  <div layout='row'>
    <md-button class="md-fab profileLogo" aria-label="profileLogo">
      <img ng-src="assets/croplogo.jpg" alt="Profile Image">
    </md-button>
    <div class='profilebox' layout='column'>
      <h2>Aniket Chile</h2>
      <h4>aniket.chile@gmail.com</h4>
    </div>
  </div>
  <div>
    <a ui-sref='login'>
      <md-button class="md-raised md-primary"> Logout </md-button>
    </a>
  </div>
</div>
